# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Secrets / Runtime config
# =====================
.env
.env.*

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
Thumbs.db
Desktop.ini
